/*#conpass{
    display: none;
}
#already{
    display: none;
}*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
body{
    background: #000000 !important;
  }

.wrapper{
  position: relative;

  max-width: 430px;
  height: 100% !important;
  width: 100%;
  background: #fff;
  padding: 14px 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.wrapper h2{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  color: #000000;
}
h2{
  font-family: 'Poppins', sans-serif, 'arial';
  font-weight: 600 !important;
  font-size: 35px !important;
  color: #ffe600 !important;
}
.t{
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.wrapper form{
  margin-top: 30px;
}
.wrapper form .input-box{
  height: 52px;
  margin: 18px 0;
}
form .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.input-box input:focus,
.input-box input:valid{
  /*border-color: #ffe600;*/
}
form .policy{
  display: flex;
  align-items: center;

}
form h3{
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
  margin-top: 2%;
}
.input-box.button input{
    font-family: 'Poppins', sans-serif !important;
    font-weight: 600;
  color: #000000;
  letter-spacing: 1px;
  border: none;
  background: #ffe922;
  cursor: pointer;
}
.input-box{
    
    font-family: 'Poppins', sans-serif;
}

.input-box.button input:hover{
    color: #000000;
  background: #ffe600;
}
form .text h3{
  font-family: 'Poppins', sans-serif;
 color: #333;
 width: 100%;
 text-align: center;
}
form .text h3 a{
  color: #4070f4;
  text-decoration: none;
}
form .text h3 a:hover{
  text-decoration: underline;
}
.box{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.eyeicon{
  width: 20px;
  position: relative;
  bottom: 37px;
  left: -20px;
  float: right;
}