.logo img{

    position: absolute;
    top: -65px;
    left: -10px;
    height: 210px;
    width: 300px;
}
.navbar1{

    width: 100% !important;
    background-color: rgb(10, 10, 10);
}
.nav-item {

    font-size: 15px;
    margin: 20px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.nav-link{

    border-radius: 5px;
    color: #ffffff !important;
}
#a{
    color: #000000 !important;
    background-color: #ffe600;
}
.nav-link:hover{
    color: #000000 !important;
    background-color: #ffe600 !important;
}

  