<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static%}
    <title>My Cart</title>
    <link rel="stylesheet" href="{%static 'css/platinumconfirm.css' %}">
    <link rel="stylesheet" href="{%static 'css/navbar.css' %} ">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
</head>
<body>
    <div class="contain">
        <div class="navbar1" id="myHeader">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="" href="{% url 'eventspage' %}">Events</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'about' %}">About</a>
                  </li>
                  {% if request.user.is_authenticated %}
                 
                  <!----
                <li class="nav-item">
                    <a class="nav-link" id="" href="">{{request.user}}<a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="" href="{% url 'logout' %}">Logout<a>
                </li>-->
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" id="" href="{% url 'join' %}">Join<a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="" href="{% url 'login' %}">login<a>
                </li>
                {% endif %}
                
                  <!--
                  <li class="nav-item">
                      <a class="nav-link" href="/login page/login.html">Login<a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/sign up page/signup.html">SignUp<a>
                  </li>-->
            </ul>
        </div>
        <div class="logo">
            <img src="{%static 'img/Logo2.png' %}">
        </div>
        <div class="para">
            <p class="p1">Rockstar Anirudh's | Music Festival | Chennai</p>
            <p class="p2">Jawaharlal Nehru Stadium | April 5 | 10 AM onwards</p>
            <p class="p3">My Cart</p>
        </div>
        <br><br>
        <div class="container">
            {% for i in a %}
            <div class="row d-flex justify-content-center">
                <div class="col-5">
                    <p class="line1" style="background-color: #ff9913; color: #000; width: 150px; text-align: center; border-radius: 6px;">{{i.stage}}</p>
                    <p class="line1">{{i.title}}</p>
                    <p class=" ">{{i.language}}​</p>
                    <p class=" ">{{i.rated}}​</p>
                    <p class=" ">{{i.date}}​</p>
                    <p class=" ">{{i.locate}}​</p>
                </div>
                    <div class="col-2 align-self-center">
                        <p class="endalign">QTY= <span class="line1">{{i.ticketqty}}</span></p>
                        <p class="endalign">Total=<span class="line1"> Rs {{i.ticketprice}}</span></p>
                        <a class="btn btn-primary" href="platinumpaid/{{i.id}}">Pay</a>
                        <a class="btn btn-danger" href="delete/{{i.id}}">Remove</a>
                    </div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col"><hr></div>
                <div class="col"></div>
            </div>
            
            {% endfor %}
            {% for i in b %}
            <div class="row d-flex justify-content-center">
                <div class="col-5">
                    <p class="line1" style="background-color: #fbff00; color: #000; width: 115px; text-align: center; border-radius: 6px;">{{i.stage}}</p>
                    <p class="line1">{{i.title}}</p>
                    <p class=" ">{{i.language}}​</p>
                    <p class=" ">{{i.rated}}​</p>
                    <p class=" ">{{i.date}}​</p>
                    <p class=" ">{{i.locate}}​</p>
                </div>
                <div class="col-2 align-self-center">
                    <p class="endalign">QTY= <span class="line1">{{i.ticketqty}}</span></p>
                    <p class="endalign">Total=<span class="line1"> Rs {{i.ticketprice}}</span></p>
                    <a class="btn btn-primary" href="goldpaid/{{i.id}}">Pay</a>
                    <a class="btn btn-danger" href="deletegold/{{i.id}}">Remove</a>
                </div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col"><hr></div>
                <div class="col"></div>
            </div>
            
            {% endfor %}

            {% for i in c %}
            <div class="row d-flex justify-content-center">
                <div class="col-5">
                    
                    <p class="line1" style="background-color: #00ffff; color: #000; width: 142px; text-align: center; border-radius: 6px;">{{i.stage}}</p>
                    <p class="line1">{{i.title}}</p>
                    <p class=" ">{{i.language}}​</p>
                    <p class=" ">{{i.rated}}​</p>
                    <p class=" ">{{i.date}}​</p>
                    <p class=" ">{{i.locate}}​</p>
                </div>
                <div class="col-2 align-self-center">
                    <p class="endalign">QTY= <span class="line1">{{i.ticketqty}}</span></p>
                    <p class="endalign">Total=<span class="line1"> Rs {{i.ticketprice}}</span></p>
                    <a class="btn btn-primary" href="generalpaid/{{i.id}}">Pay</a>
                    <a class="btn btn-danger" href="deletegeneral/{{i.id}}">Remove</a>
                </div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col"><hr></div>
                <div class="col"></div>
            </div>
            
            {% endfor %}
        </div><!----
        <div class="seat">
            <p class="line1">{{i.title}}</p>
            <p class="line2">{{i.language}}​</p>
            <p class="line2">{{i.rated}}​</p>
            <p class="line2">{{i.date}}​</p>
            <p class="line2">{{i.locate}}​</p>
        </div>
        <div class="price">
            <P class="number">Rs. 1500<span>×</span></P>
            <select id="tnumber" onchange="change()">
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
                <option value=8>8</option>
                <option value=9>9</option>
                <option value=10>10</option>
            </select>
        </div>
        <div class="totalprice">
            <p id="total">{{i.ticketprice}}</p>
            
        </div>
        <div class="button">
            <button class="btn btn-primary" type="submit" onclick="buy()">Buy</button>
            <a class="btn btn-danger" href="delete/{{i.id}}">delete</a>
        </div>
        <hr>
        
        -->
        {% if request.user.is_authenticated %}
        {% include 'myprofile.html' %}
        {% endif %}
    </div>
</body>