<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static%}
    <title>Contact</title>
    <link rel="stylesheet" href="{%static 'css/contact.css' %}">
    <link rel="stylesheet" href="{%static 'css/navbar.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
</head>
<body>
    <div class="contain">
        <div class="navbar1">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active"  aria-current="page" href="{% url 'home' %}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'eventspage' %}">Events</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="a" href="{% url 'contact' %}">Contact</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'about' %}">About<a>
                  </li>
                  {% if request.user.is_authenticated %}
                  {% include 'myprofile.html' %}
                  <!----
                <li class="nav-item">
                    <a class="nav-link" id="" href="">{{request.user}}<a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="" href="{% url 'logout' %}">Logout<a>
                </li>-->
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" id="" href="{% url 'join' %}">Join<a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="" href="{% url 'login' %}">login<a>
                </li>
                {% endif %}
                  
                  <!--
                  <li class="nav-item">
                      <a class="nav-link" href="/login page/login.html">Login<a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/sign up page/signup.html">SignUp<a>
                  </li>-->
        </div>
        <div class="logo">
            <img src="{%static 'img/Logo2.png' %}">
        </div>
        <div class="container">
            
        <form action="" method="POST">
            {% csrf_token %}        
            <div class="crow">
                    <h1>Contact us</h1>
                    <h4 style="text-align:center">We'd love to hear from you!</h4>
            </div>
            <div class="cf">
            <div class="row input-container">
                    <div class="col-xs-12">
                        <div class="styled-input wide">
                                <input name="name" id="name" type="text" required />
                                <label>Name</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="styled-input">
                            <input name="email" id="email" type="email" required />
                            <label>Email</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="styled-input" style="float:right;">
                            <input name="phone" id="ph" type="number" required />
                            <label>Phone Number</label>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="styled-input wide">
                            <textarea name="message" id="msg" required></textarea>
                            <label>Message</label>
                        </div>
                    </div>
                    <div class="but"></div>
                    <div class="col-xs-12">
                        <button class="btn-lrg submit-btn" onclick="sm()" type="submit" id="sub">Send Message</button>
                    </div>
                    </div>
            </div>
            </div>
            
            <!--
            <div class="form-group">
                <label>Name</label>
                <input type="text" name="hname" class="form-control" required>
            </div>

            <div class="form-group">
                <label>Email</label>
                <input type="email" name="hemail" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Phone number</label>
                <input type="number" name="hphone" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Message</label>
                <input type="text" name="hmessage" class="form-control" required>
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>-->
        </form>
        </div>
    </div>
    <script src="{%static 'js/contact.js' %}">
    </script>
</body>
</html>