<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static%}
    <title>Gold</title>
    <link rel="stylesheet" href="{%static 'css/gold.css' %}">
    <link rel="stylesheet" href="{%static 'css/navbar.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
</head>
<body>
    <form method="POST" action="">
        {% csrf_token %}
    <div class="contain">
        <div class="navbar1">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="a" href="/Events Page/events.html">Events</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contact page/contact.html">Contact</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/about page/about.html">About<a>
                  </li>
                  {% if request.user.is_authenticated %}
                  {% include 'myprofile.html' %}
                  <!----
                <li class="nav-item">
                    <a class="nav-link" id="" href="">{{request.user}}<a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="" href="{% url 'logout' %}">Logout<a>
                </li>-->
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" id="" href="{% url 'join' %}">Join<a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="" href="{% url 'login' %}">login<a>
                </li>
                {% endif %}
                  
                  <!--
                  <li class="nav-item">
                      <a class="nav-link" href="/login page/login.html">Login<a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/sign up page/signup.html">SignUp<a>
                  </li>-->
            </ul>
        </div>
        <div class="logo">
            <img src="{%static 'img/Logo2.png' %}">
        </div>
        <div class="para">
            <p class="p1">Rockstar Anirudh's | Music Festival | Chennai</p>
            {% for i in lttsevent1 %}
            <p class="p2">Jawaharlal Nehru Stadium | {{i.line3}} | 10 AM onwards</p>
            {% endfor %}
        </div>
        <div class="seat">
            <p class="line1">Gold - Seating</p>
            <p class="line2">Seating is on a first come first serve basis.​</p>
        </div>
        <div class="price">
            <P class="number">Rs. 1000<span>×</span></P>
            <select id="tnumber" name="a" onchange="change()">
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
                <option value=8>8</option>
                <option value=9>9</option>
                <option value=10>10</option>
            </select>
        </div>
        <div class="totalprice">
            <p id="total">Total : Rs. 1000</p>
        </div>
        <div class="button">
            <button class="btn btn-primary" type="submit">Continue</button>
        </div>
        <hr>
    </div>
    </form>
    <script src="{%static 'js/gold.js' %}"></script>
</body>